#translate-panel {
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30px 30px 1fr;
}

#translate-controls {
  background-color: #ccc;
  text-align: center;
}

.translate-row {
  display: grid;
  grid-template-columns: 15fr 30fr 30fr 25fr;
}

#translate-header {
  border-bottom: 1px solid #000;
  justify-items: center;
  align-items: center;
}

#translate-content {
  display: inline-block;
  min-height: 0;
  overflow: auto;
}
