.translate-field{
  width: 100%;
  min-height: 100px;
}

.translate-field > div{
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  position: relative;
  overflow: hidden;
}

.translate-id {
  word-break: break-all;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.new .translate-original {
  border: 2px solid blue;
}
.update .translate-original {
  border: 2px solid yellow;
}
.delete .translate-original {
  border: 2px solid red;
}
.done .translate-original {
  border: 1px solid green;
}
.diff .translate-target {
  border: 2px solid yellow;
}

.translate-target {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.translate-target textarea{
  resize:vertical;
  min-height: 100%;
  flex: 1;
}

.translate-original .added {
  color: green;
  display: none;
}

.translate-original .removed {
  color: red;
  display: none;
}

.translate-original.new .added, .translate-original.old .removed {
  display: inline;
}

.change {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: #000;
  cursor: pointer;
}
