#translate-panel {
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30px 30px 1fr;
}

#translate-controls {
  background-color: #ccc;
  text-align: center;
}

.translate-row {
  display: grid;
  grid-template-columns: 15fr 30fr 30fr 25fr;
}

#translate-header {
  border-bottom: 1px solid #000;
  justify-items: center;
  align-items: center;
}

#translate-content {
  display: inline-block;
  min-height: 0;
  overflow: auto;
}

.translate-field{
  width: 100%;
  min-height: 100px;
}

.translate-field div{
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  position: relative;
  overflow: hidden;
}

.translate-id {

}

.new .translate-original {
  border: 2px solid blue;
}
.update .translate-original {
  border: 2px solid yellow;
}
.delete .translate-original {
  border: 2px solid red;
}
.done .translate-original {
  border: 1px solid green;
}
.diff .translate-target {
  border: 2px solid yellow;
}

.translate-target {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.translate-target textarea{
  resize:none;
  flex: 1;
}
