#translate-panel {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#translate-controls {
  background-color: #ccc;
  text-align: center;
}

#translate-controls div {
  background-color: #ccc;
}

#translate-header {

}

#translate-header th {
  border-bottom: 1px solid #000;
}

#translate-content {
  width: 100%;
  table-layout: fixed;
}

.translate-row {
  min-height: 100px;
  height: 100px;
  max-height: 200px;
}

#translate-content textarea{
  width: 100%;
  height: 100%;
  resize:vertical;
}

th:nth-child(1) {
  width: 15%;
}

th:nth-child(2) {
  width: 30%;
}

th:nth-child(3) {
  width: 30%;
}

th:nth-child(4) {
  width: 25%;
}
