.translate-field{
  width: 100%;
}
@media screen and (min-width: 900px) {
  .translate-field{
    padding-bottom: 5px;
  }
}


.translate-field > div{
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  position: relative;
  overflow: hidden;
  min-height: 100px;
}

.translate-id {
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  grid-area: id;
}

.translate-id p {
  font-weight: bold;
}

.main-action {
  display: flex;
  align-items: center;
}

.unchanged .main-action {
  background-color: #ddd;
  color: #bbb;
}
.todo .main-action {
  background-color: #ccc;
  color: #000;
}
.done .main-action {
  background-color: #c2f0c2;
  color: #28a428;
}


.main-action-button {
  flex: 1;
  cursor: pointer;
  padding: 7px 0;
  padding-left: 10px;
}
.main-action-button > input, .main-action-button > label {
  cursor: pointer;
}

.translate-id .actions {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background-color: #fff;
  border: solid 1px #bbb;
  border-bottom: none;
  padding: 5px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.actions > div {
  height: 25px;
  padding-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.actions > div:hover {
  background-color: #ccc;
}


.center-vertically {
  display: flex;
  align-items: center;
}

.translate-original {
  grid-area: original;
}

.translate-description {
  grid-area: description;
}

.translate-target {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  grid-area: target;
}

.highlight {
  background-color: orange;
}

.new .translate-original {
  box-shadow: 0 0 3px 0px blue;
}
.update .translate-original {
  box-shadow: 0 0 2px 1px yellow;
}

.diff .translate-target {
  box-shadow: 0 0 2px 1px yellow;
}
.missing .translate-target {
  box-shadow: 0 0 3px 0px red;
}

.done .translate-original,  .done .translate-target{
  box-shadow: 0 0 3px 0px green;
}

.translate-target textarea{
  resize:vertical;
  min-height: 100%;
  flex: 1;
}

.translate-original .added {
  color: green;
  display: none;
}

.translate-original .removed {
  color: red;
  display: none;
}

.translate-original.new .added, .translate-original.old .removed {
  display: inline;
}

.change {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: #000;
  cursor: pointer;
}
