.select {
  display: inline-block;
  background-color: #bbb;
  width: fit-content;
}

.button-file {
  background-color: #bbb;
}

.git-section {
  display: flex;

}

.input-git-url {
  max-width: 600px;
  min-width: 200px;
  flex:1;
}
