.App {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.App-header ul {
  background-color: #222;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.App-header li {
  margin: 0 30px;
  min-width: 90px;
  max-width: 200px;
  height: 35px;
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.App-header li a {
  color: #000;
}

#panel {
  flex: 1;
  background-color: #eee;
  padding: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
