.App {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  display: flex;
  justify-content: center;
}

.App-header ul {
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 90%;
  max-width: 800px;
}

.App-header li {
  min-width: 90px;
  max-width: 200px;
  height: 35px;
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.App-header li a {
  color: #000;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

#panel {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  padding: 0px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
