.navbar a {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
  outline: none;
}

.menu-selected {
  color: #ff9900 !important;
}

.reset-project > a:hover {
  background-color: #ffcccc !important;
}

.navbar-brand {
  color: #ff9900 !important;
  cursor: default;
}

.dropdown-menu > li > a:hover {
  background-color: #ffc266;
}

.navbar a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #ffc266;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffc266;
}

.navbar-right > li > a {
  padding: 0;
}

.navbar-right > li > a > img {
  height: 48px;
}
