.navbar a {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
  outline: none;
}

.navbar a:hover {
  color: #ffc266;
  background-color: transparent;
}

.menu-selected {
  color: #ff9900 !important;
}

.reset-project > a:hover {
  background-color: #ffcccc !important;
}

.navbar-brand {
  color: #ff9900 !important;
}
