.navbar a {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
  outline: none;
}

.navbar a:hover {
  color: #fff;
  background-color: transparent;
}

.menu-selected {
  color: #fff !important;
}
